<div id="principale">
  <div class=DivGauche>
   Agence

  </div>
  <div class="DivCentrale">
    <img src="../assets/img/doubleBarre.png" class=img-responsive alt="Bienvenue">

    <div class="row">
      <div class="col-xs-12">
        <div><img style="max-width:200px;" *ngIf="agence.photo" [src]="agence.photo"></div>
        <div>
          <h1>Non de l'agence : {{ agence.nom }}</h1>
        <h3> Adresse : {{ agence.rue }}   {{ agence.complement }}  {{ agence.code }}  {{ agence.ville }}</h3>
        <p> Télephone : {{ agence.numero }}</p>
        <p>Fax : {{ agence.fax }}</p></div>
        <button class="btn btn-default" (click)="onBack()">Retour</button>
        <button class="btn btn-success" (click)="onEditAgence(id)">Modifier l'agence</button>
        
      </div>
    </div>


  </div>
</div>
