<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- <div routerLinkActive="active">
        <span routerLink="accueil" >🏡 </span>
      </div> -->
    <span *ngIf="isAuth">Vous êtes connecté avec l'adresse : "{{utilisateur}}"</span>
    <span *ngIf="!isAuth">Vous n'êtes pas connecté</span>
    <ul class="nav navbar-nav navbar">
      <li routerLinkActive="active" *ngIf="!isAuth">
        <button type="button" class="btn btn-info" routerLink="auth/signup">Créer un compte</button>
      </li>
    </ul>
    <ul>
      <li routerLinkActive="active" *ngIf="!isAuth" active>
        <button type="button" class="btn btn-info" routerLink="auth/signin">Connexion</button>
      </li>
      <li>
        <button type="button" class="btn btn-danger" (click)="onSignOut()" style="cursor:pointer"
          *ngIf="isAuth">Déconnexion</button>
      </li>
    </ul>

    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <button type="button" class="btn btn-secondary" routerLink="accueil">Accueil</button>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <button type="button" class="btn btn-secondary" routerLink="listeVehicules">Vehicules</button>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <button type="button" class="btn btn-secondary" routerLink="agents">Agents</button>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <button type="button" class="btn btn-secondary" routerLink="agences">Agences</button>
      </li>
    </ul>
  </div>
</nav>