
   
<div id="principale" class="scrolling-wrapper">
    <div class=DivGauche>
      Véhicules
    </div>
    <div class="DivCentrale">
      <img src="../assets/img/doubleBarre.png" class=img-responsive alt="Bienvenue">
      <div class="list-group">
      </div>
   
      <div id="selectTri">
    
        <div><input type="text"  [(ngModel)]="userFilter.identifiant" placeholder="Filtrer par identifant"></div>
        <div><input type="text"  [(ngModel)]="userFilter.modele" placeholder="Filtrer par modèle"></div>
        <div><input type="text"  [(ngModel)]="userFilter.agence" placeholder="Filtrer par agence"></div>
        <div><input type="text"  [(ngModel)]="userFilter.dateFab" placeholder="Filtrer par date"></div>
        <div><div>Ajouter un véhicule</div><div style="width: 30px;"><input type="image" alt="Ajout" width="25px" (click)="onNewVehicule()" src="https://cdn3.iconfinder.com/data/icons/buttons/512/Icon_11-512.png"></div></div>
        
      </div>
      <div>
         <table style=" border:solid 1px black; margin: 10px; overflow: auto;" mdbTable class="z-depth-1">
          <thead style="background-color:#D3E5E5" >
            <tr >
              <th scope="col" style=" border:solid 1px black" [mdbTableSort]="vehicules" sortBy="identifiant"><mdb-icon fas icon="sort"></mdb-icon>Identifiant</th>
              <th scope="col" style=" border:solid 1px black">Miniature</th>
              <th scope="col" style=" border:solid 1px black"[mdbTableSort]="vehicules"sortBy="modele" ><mdb-icon fas icon="sort"></mdb-icon>Modèle</th>
              <th scope="col" style=" border:solid 1px black"[mdbTableSort]="vehicules"sortBy="agence" ><mdb-icon fas icon="sort"></mdb-icon>Agence</th>
              <th scope="col" style=" border:solid 1px black" >Statut</th>
              <th scope="col" style=" border:solid 1px black"[mdbTableSort]="vehicules" sortBy="dateFab"><mdb-icon fas icon="sort"></mdb-icon>Date de fabrication</th>
              <th scope="col" style=" border:solid 1px black"> Détails</th>
              <th scope="col" style=" border:solid 1px black"> Signalement</th>
              <th scope="col" style=" border:solid 1px black"> Suppression</th>
            </tr>
          </thead>
          <tr  *ngFor="let vehicule of vehicules | filterBy: userFilter; let i = index" style=" border:solid 1px black">
        
            <td style=" border:solid 1px black">{{ vehicule.identifiant }}</td>
            <td style=" border:solid 1px black">{{ vehicule.miniature }}</td>
            <td style=" border:solid 1px black">{{ vehicule.modele }}</td>
            <td style=" border:solid 1px black">{{ vehicule.agence }}</td>
            <td [hidden]="!vehicule.add" style=" border:solid 1px black" >En prêt</td>
            <td [hidden]="vehicule.add" style=" border:solid 1px black" >Disponible</td>
            <td style=" border:solid 1px black">{{ vehicule.dateFab }}</td>
   
            <td style="max-width: 50px;">
              <button (click)="onViewVehicule(i)" style="max-width: 90%;" ><img style="max-width: 20px;"  src="https://c7.uihere.com/files/496/449/244/computer-icons-search-button.jpg" alt="suppression" ></button> 
            </td>
            <td style="max-width: 50px;">
              <button (click)="onSignalementVehicule(i)" style="max-width: 90%;"> <img style="max-width: 20px;"  src="https://lh3.googleusercontent.com/proxy/nemssKxzUe8HEjiAESVnyo46IarDobx2oRtxWdesL3Mt33YBkx83nLXucWFHj66zeGuIji6XOA_7q-OFmsRmguQCVLgMFpaT8ZI1Iqmu-neL-pAw_MB9hoY" alt="Signalement"></button>    
            </td>
            <td style="max-width: 50px;">
              <button (click)="onDeleteVehicule(vehicule, vehicule)" style="max-width: 90%;" ><img style="max-width: 20px;" src="assets/img/deleteVehicule.png" alt="suppression" ></button>    
            </td>
          </tr>
        </table> 

      </div>
      <button class="btn btn-default" (click)="onBack()">Retour accueil</button>
      <button class="btn btn-default"  (click)="onViewBackupVehicule()">Historique des Véhicules</button> 
    </div>
  </div>
  