

<h1>TEST</h1>
<div *ngIf="showMePartially">
    <div *ngIf="showMePartially; then getVehicule();">;</div>
    <button *ngIf="!showvar" (click)="callToggleChild()">Fermer détail</button>
    <h1> Detail Vehicule {{IDFocus}}</h1>
    <table class="w3-table-all">
        <thead>
          <tr class="w3-blue">
            <th scope="col">Identifiant</th>
            <th scope="col">Miniature</th>
            <th scope="col">Modèle</th>
            <th scope="col">Agence</th>
            <th scope="col">Statut</th>
            <th scope="col">Date début</th>
            <th scope="col">Date fin</th>
            <th scope="col">Puissance</th>
            <th scope="col">Largeur</th>
            <th scope="col">Longueur</th>
            <th scope="col">Supprimer</th>
            
          </tr>
        </thead>
        <tr *ngFor="let vehicule of VEHICULES">
            <td>{{ vehicule.id }}</td>
            <td>{{ vehicule.miniature }}</td>
            <td>{{ vehicule.modele }}</td>
            <td>{{ vehicule.agence }}</td>
            <td>{{ vehicule.statut }}</td>
            <td>{{ vehicule.dateDebStatut | date: 'M/d/yy' | uppercase  }}</td>
            <td>{{ vehicule.dateFinStatut | date: 'M/d/yy' | uppercase  }}</td>
            <td>{{ vehicule.puissance }}</td>
            <td>{{ vehicule.largeur }}</td>
            <td>{{ vehicule.longueur }}</td>
            <td>{{ vehicule.supprime }}</td>
        </tr>
    </table>
</div> 
