<div><input type="text"  [(ngModel)]="userFilter.identifiant" placeholder="Filtrer par identifant"></div>
<div>
     <table #TABLE #table  style=" border:solid 1px black; margin: 10px; overflow: auto;"  class="z-depth-1"  >
      <thead style="background-color:#D3E5E5" >
        <tr >
          <th scope="col" style=" border:solid 1px black"  [mdbTableSort]="vehiculesBackup" sortBy="identifiant"><mdb-icon fas icon="sort"></mdb-icon>>Identifiant</th>
          <th scope="col" style=" border:solid 1px black">Modèle</th>
          <th scope="col" style=" border:solid 1px black">Agence</th>
          <th scope="col" style=" border:solid 1px black">Date de modificatin</th>
          <th scope="col" style=" border:solid 1px black"> Date de MAJ</th>
          <th scope="col" style=" border:solid 1px black"> MAJ par  </th>
          <th scope="col" style=" border:solid 1px black"> Supprimé </th>
        </tr>
      </thead>
      <tr  *ngFor="let vehicule of vehiculesBackup | filterBy: userFilter; let i = index" style=" border:solid 1px black">
    
        <td style=" border:solid 1px black">{{ vehicule.identifiant }}</td>
        <td style=" border:solid 1px black">{{ vehicule.modele }}</td>
        <td style=" border:solid 1px black">{{ vehicule.agence }}</td>
        <td style=" border:solid 1px black">{{ vehicule.dateFab }}</td>
        <td style=" border:solid 1px black">{{ vehicule.dateDelete | date:'EEEE d MMMM y' }}</td>
        <td style=" border:solid 1px black">{{ vehicule.AgentDelete }}</td>
        <td style=" border:solid 1px black"> <img style="max-width: 50px;"  [hidden]="!vehicule.vehiculeDeleted " src="assets/img/supprime.jpg" alt="suppression" ></td>
  
      </tr>
    </table>
  </div>
  <button class="btn btn-default" (click)="onBack()">Retour</button>
  <button (click)="ExportTOExcel()" class="btn btn-default">Export vers Excel</button> 
  <button (click)="deleteBackup(vehiculesBackup)" class="btn btn-default">Vider l'historique</button> 