
<div id="principale">
  <div class=DivGauche>
    Création d'un compte
  </div>
  <div class="DivCentrale">
    <img src="../assets/img/doubleBarre.png" class=img-responsive alt="Bienvenue">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Adresse mail</label>
        <input type="text"
               id="email"
               class="form-control"
               formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password"
               id="password"
               class="form-control"
               formControlName="password">
      </div>
      <button class="btn btn-success"
              type="submit"
              [disabled]="signupForm.invalid" style="float: right;">
        Créer mon compte
      </button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>  
