

<img id="imgG" src="assets/img/imgBanniereGauche.png" alt="Image Gauche">
<img id="imgD" src="assets/img/imgBanniereDroite.png" alt="Image Droite">
<div>
  <div id="banniereHaut">
    <div id="titre">
      <h1 id="titreH1">SOCOPEC</h1>
    </div>
  </div>
  <div id="banniereBas">
    <div id="date">
      <h1 id="dateH1">
      <p>{{date | date:'EEEE d MMMM y'}}</p> 
      </h1>
    </div>
  </div>

</div>

<app-header></app-header>

<div id="corp">
  <router-outlet></router-outlet>
</div>
<footer>
  <span>Politique et informations légales</span>
</footer>



