body {
  width: 80%;
  margin: auto;
  position: relative;
  background-color: #EBE6E6;
}

#banniereHaut {
  width: 100%;
  height: 60px;
  background-color: #785757;
}

#banniereBas {
  width: 100%;
  height: 50px;
  background-color: #9C8686;
}

#titre {
  padding-top: 8px;
}

#titreH1 {
  font-size: 2em;
  color: white;
  text-align: center;
  font-family: Segoe Script;
}

#date {
  padding-top: 3px;
}

#dateH1 {
  font-size: 1em;
  color: white;
  text-align: center;
  font-family: Segoe UI;
}

#imgG {
  float: left;
  margin-left: 40px;
  max-height: 90px;
}

#imgD {
  float: right;
  margin-right: 40px;
  max-height:90px;
}
.menuHeader {
  display: flex;
  flex-flow: row;
  //justify-content: space-around;

}

#menu{
    margin-top: 30px;
    margin-right:50px;
   float: right;
    
}
ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
li {  
 margin-left:2px;
 float:left; /*pour IE*/

 }
ul li a {
 display:block;
 float:left;   
 width:100px;
 background-color:#6495ED;
 color:black;
 text-decoration:none;
 text-align:center;
 padding:5px;
 border:2px solid;
 /*pour avoir un effet "outset" avec IE :*/
 border-color:#DCDCDC #696969 #696969 #DCDCDC;
 }
ul li a:hover {
 background-color:#D3D3D3;
 border-color:#696969 #DCDCDC #DCDCDC #696969;
 } 
li
{
  border-radius: 10px;
  padding-left:10px;
  padding-right:10px;
}

#bienvenue {
width: 100%;
height: auto;
display: block;
}

#corp {
  display:block;
  min-width: 100%;
  min-height: 500px;
}

#principale{
  display : flex;
  flex-flow: row ;
}
.DivCentrale{
  margin-left: 30px;
  width: 100%;
}
.DivCentrale button{
  width: 200px;
}
.DivCentrale img{
  width: 100%;
}
.DivGauche{
width: 30%x;
height: 500px;
font-family: fantasy;
font-size: xx-large;
text-align: center;
}
#messageAccueil{

  text-align: center;
  font-size: x-large;
  font-weight: bold;
}
footer {
  display: flex;
  flex-flow: row ;
  justify-content: space-around;
  max-height: 30px;
  width: 100%;
  background-color: #785757;
  padding-left: 20px;
  color: white;
 // position: absolute;
  bottom: 0;
}
