<div id="principale">
  <div class=DivGauche>
    Accueil <br>
    Administration

  </div>
  <div class="DivCentrale">
    <img src="../assets/img/doubleBarre.png" class=img-responsive alt="Bienvenue">
    <div id="messageAccueil">
      Bienvenue dans l'espace administrateur <br><br>
      Dans cette espace vous pouvez gérer : <br>
      - Les agents <br>
      - Les véhicules <br>
      - Les agences
    </div>
    <img src="../assets/img/doubleBarre.png" class=img-responsive alt="Bienvenue">
    <router-outlet></router-outlet>
    
      <div routerLinkActive="active">
        <button class="accueil" type="button" class="btn btn-secondary" routerLink="vehicules" >Liste des véhicules</button>
      </div>
    <br>
 
      <div routerLinkActive="active">
        <button class="accueil" type="button" class="btn btn-secondary" routerLink="agents">Liste des agents</button>
      </div>
    
      <br>
      <div routerLinkActive="active">
        <button class="accueil" type="button" class="btn btn-secondary" routerLink="agences">Liste des gences</button>
      </div>
    
  </div>
</div>
