
<div id="principale">
  <div class=DivGauche>
   Agent

  </div>
  <div class="DivCentrale">
    <img src="../assets/img/doubleBarre.png" class=img-responsive alt="Bienvenue">

    <div class="row">
      <div class="col-xs-12">
        <img style="max-width:200px;" *ngIf="agent.photo" [src]="agent.photo">
        <h1>Nom : {{ agent.title }}</h1>
        <h2 > Prénom :{{ agent.author }}</h2>
        <h2>Adresse mail : {{ agent.email }}</h2>
        <h2>Adresse postale : {{ agent.synopsis }}</h2>
        <h3>Téléphone : {{ agent.tel }}</h3>
        <h3>Droit : <span *ngIf="droitAdd"> Ajout</span><span *ngIf="!droitAdd"> Pas de droit</span></h3>
        <button class="btn btn-success" (click)="onEditAgent(id)" style="float: right;" *ngIf="isAdmin">Modifier l'agent</button>
        <button class="btn btn-success" (click)="onEditAgent(id)" style="float: right;" *ngIf="agentCourant">Modifier l'agent</button>
        <button class="btn btn-default" (click)="onBack()">Retour</button>
      </div>
    </div>


  </div>
  <div style="min-width: 25%;">

      
  </div>
</div>
