<div id="principale">
    <div class=DivGauche>
     Véhicule
  
    </div>
    <div class="DivCentrale">
      <img src="../assets/img/doubleBarre.png" class=img-responsive alt="Bienvenue">
  
      <div class="row">
        <div class="col-xs-12">
          <img style="max-width:400px;" *ngIf="vehiculephoto" [src]="vehicule.photo">
          <h1>ID : {{ vehicule.identifiant }}</h1>
          <h3>Modèle : {{ vehicule.modele }}</h3>
          <h3> Agence : {{ vehicule.agence }}</h3>
          <h3><p>Date de fabrication : {{ vehicule.dateFab }}</p></h3>
          
          <h3>Puissance : {{ vehicule.puissance }}</h3>
          <h3>Largeur : {{ vehicule.largeur }}</h3>
          <h3>Hauteur : {{ vehicule.hauteur }}</h3>
          <h3>Statut : {{ vehicule.statut }}</h3>
          <button class="btn btn-success" style="float: right;" (click)="onEditVehicule(id)">Modifier Véhicule</button>
          <button class="btn btn-default" (click)="onBack()">Retour</button>
        </div>
      </div>
  
  
    </div>
  </div>
  